<!-- views/partials/head -->

<title><%= title %> </title>
<meta name="theme-color" content="ffb900ff">
<meta charset="UTF-8">
<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
<link rel="stylesheet" href="/css/style.css">
<link rel="stylesheet" href="/css/semantic.min.css">
<link rel="stylesheet" href ="/css/font-awesome.css">
<script src="/js/jquery.min.js"> </script>
<script src="/js/semantic.min.js"> </script>

