<!-- views/partials/login -->

<div class="field">
    <label>Gebruikersnaam</label>
    <input type="text" name="text" placeholder="Login ID">
</div>

<div class="field">
    <label>Wachtwoord</label>
    <input type="password" name="password" placeholder="">
</div>