<!-- views/partials/navbar_homebuttons -->

<ul class="navbar">
    <a class="logo"  href="http://localhost:8080/"></a>
    <button id="buttonLogin" class="ui primary large button">
        Aanmelden
    </button>
    <button id="buttonRegister" class="ui primary large button">
        Registreren
    </button>
    <button id="contactButton" class="ui large button">
        Contact
    </button>
</ul>