<!-- views/partials/navbar -->

<ul class="navbar">
    <a class="logo"  href="http://localhost:8080"></a>

    <div class="ui dropdown">

        <div class="text"><i class="icon user circle outline"></i> <%= user %></div>
        <i class="dropdown icon"></i>
        <div class="menu">
            <%if (isTeacher === 1) { %>
            <nav class="item">
                <a href="http://localhost:8080/TeacherProfile/username/<%= user %>" >
                    <i class="user icon"></i>
                    Mijn profiel
                </a>
            </nav>
            <nav class="item">
                <a href="http://localhost:8080/settings">
                    <i class="setting icon"> </i>
                    Instellingen
                </a>
            </nav>
            <% } %>
            <nav class="item">
                <a href="http://localhost:8080/logout">
                    <i class="sign out icon"></i>
                    Afmelden
                </a>
            </nav>
        </div>
    </div>

</ul>