<!-- views/partials/profile-->

<div id="profilePage1">
    <br>
    <i class="massive student icon"></i>
    <br>
    <div id="profileCards" class="ui cards">

        <div id= "profileCard" class="card">
            <div class="content">

                <div class="header"><%= firstname %> <%= secondname %></div>

            </div>

            <div class="ui huge star rating"></div>
            <div class="content">

                <div class="header">Beschrijving</div>

                <div class="meta">Over mij</div>
                <div class="description">
                    Mijn beschrijving
                </div>
            </div>
        </div>

        <div  id="contactCard" class="card">
            <div class="content">
                <div class="header">Contact</div>
                <div class="description">
                    <A HREF="mailto:<%= mail%>">Contacteer mij</A>
                </div>
            </div>
        </div>

        <div  id="coursesCard" class="card">
            <div class="content">
                <div class="header">Mijn vakken</div>
                <div class="description">
                    <li><%= topic %> </li>
                </div>
            </div>
        </div>
        <div id= "reviewCard" class="card">
            <div class="content">
                <div class="header">Reviews</div>
                <% reviews.forEach(function(review) { %>
                <li><%= review.rev %></li>
                <% }); %>


            </div>
        </div>
    </div>

    <!--CODE voor te zien of het uw eigen profiel is-->
    <% if (user == mail) { %>
    <button class="ui button" onclick="window.location.href='http://localhost:8080/settings'">Change settings</button
    <% } else{ %>
    <button class="ui button" onclick="window.location.href='http://localhost:8080/reviews/teacher/<%=mail%>'">Add a review</button>
        <% } %>
            <!--Dit is de correcte manier om te zien of iemand een teacher is-->


</div>

