<!-- views/partials/register -->

<div class="field">
    <label>Email</label>
    <input type="email" name="email" placeholder="Email">
</div>

<div class="field">
    <label>Wachtwoord</label>
    <input type="password" name="password" placeholder="">
</div>