<!-- views/partials/resultmap -->

<div id='map'></div>
<script src="../js/location.js"></script>
<script>
    var pos = getGeoLocation();
    mapboxgl.accessToken = 'pk.eyJ1Ijoic2RlcHJvb3MiLCJhIjoiY2o4bGdjc2VwMGtlZTJwdWEzbGZ1dmtyYyJ9.Qldx_kCBPgGyLe0SThiZUg';
    var map = new mapboxgl.Map({
        container: 'map', // container id
        style: 'mapbox://styles/mapbox/light-v9', // stylesheet location
        center: [current_position.Longtitude, current_position.Latitude],
        zoom: 12 // starting zoom
    });
</script>