<!DOCTYPE html>
<html lang="en">
<head>
    <% include partials/head %>
    <script>

        $( document ).ready (function(){


                $('.ui.dropdown').dropdown();


// All courses for local search

                var content = [];

                var xmlhttp = new XMLHttpRequest();
                xmlhttp.open("GET", 'http://localhost:8080/api/courses', true);
                xmlhttp.send();
                xmlhttp.onreadystatechange = function() {
                    if(this.readyState == 4 && this.status == 200){
                        content= JSON.parse(this.responseText);
                        console.log(content);

                        $('.ui.search')
                            .search({
                                source : content,
                                searchFields   : [
                                    'title'
                                ],
                                searchFullText: false,
                                onSelect: function(result,response){
                                    console.log(response);
                                    response = response[0].en
                                   // Should go to either register screen or searchscreen with map
                                    window.location.href = "http://localhost:8080/teacher/course/"+ response + "#map"
                                }

                            });



                    };
                }
            }


        )

    </script>
</head>
<body>
<script>
    $( document ).ready (function(){
        $("#buttonLogin").click(function(){
            console.log("clickOnLogin");
            $('#loginCanvas').modal('show');
        });

        $("#buttonRegister").click(function(){
            console.log("clickOnRegister");
            $('#registerCanvas').modal('show');
        });

        $('.ui.dropdown').dropdown();

        $("#contactButton").click(function(){
            console.log("clickOnContact");
            $('#contactCanvas').modal('show');
        });

    });



</script>
<!-- Login/register canvas-->

<!-- Login canvas -->
<div id="loginCanvas" class="ui tiny modal">
    <div class="header">Aanmelden</div>
    <div class="scrolling content">
        <form action="/login" method="post" class="ui form">
            <% include partials/login %>
            <button class="ui button" type="submit">Login</button>
        </form>
    </div>
</div>

<!-- Registration form/canvas -->

<div id= "registerCanvas" class="ui tiny modal">
    <div class="header">Registreren</div>
    <div class="scrolling content">
        <form action="/register" method="post" class="ui tiny form">
            <% include partials/register %>

            <div class="ui form">
                <div class="inline fields">
                 
                    <div class="ui toggle checkbox" id="teacherChecked">
                        <input name="teacher" type="checkbox">
                        <label>Ik ben een leerkracht</label>
                    </div>
                </div>

                <!--</div>-->
            </div>
            <div class="ui form">
                <br>
                <br>
                <button class="ui green button" type="submit">Registreren</button>
            </div>
        </form>
    </div>
</div>
</div>
</div>


<!-- Contact canvas -->

<div id = "contactCanvas" class="ui modal">
    <div class="header">Contact</div>
    <br>
    <ul>
        <li><a href="https://www.facebook.com" class="contactLogo"><i class="fa fa-facebook-official fa-4x" aria-hidden="true"></i> Facebook </a> </li>
        <li><a href = "https://www.twitter.com" class="contactLogo"><i class="fa fa-twitter fa-4x" aria-hidden="true"></i> Twitter </a> </li>
        <li><a href= "https://www.gmail.com" class="contactLogo"><i class="fa fa-envelope fa-4x" aria-hidden="true"></i> Mail </a> <li>
    </ul>
</div>
</div>


<!-- navigation bar (upper bar) -->
<% if (loggedIn == 1) { %>
<% include partials/navbar%>
<% } else{ %>
<% include partials/navbar_homebuttons %>
<% } %>


<div id="introPage1">


    <section id="banner">
        <h1> Teachr </h1>

        <div id="search">

            <div id="searchCourses" class="ui fluid category search dropdown">
                <div class="ui icon input">
                    <input class="prompt" type="text" placeholder="Een leerkracht zoeken">
                    <i class="search icon"></i>
                </div>
                <div id="resultsSearch" class="results"></div>
            </div>
        </div>

    </section>

    <div id="container">

        <div id="introText">
            <h3> Wat is Teachr? </h3>
            <p>Teachr is een gebruiksvriendelijke omgeving voor zowel lesgevers en studenten.
                Als je nog geen lid bent, kan je je bovenaan registreren.</p>
        </div>
        <br>
        <br>
        <div id ="whyBlock">
            <h3> Waarom Teachr gebruiken </h3>
            <br>

            <div class="ui two column grid">
                <div class="column">
                    <div class="ui raised segment">
                        <h4> Leerling </h4>
                        <ul class="list"> <li>Gemakkelijk leerkrachten van de gezochte cursus in jouw omgeving vinden.</li>
                            <li>Recensies over elke leerkracht beschikbaar zodat jij de juiste keuze kan maken.</li>
                            <li>Door het feit dat je zelf je leerkrachten kiest, kan je goedkopere alternatieven vinden dan elders. </li>
                        </ul>
                    </div>
                </div>
                <div class="column">
                    <div class="ui segment">
                        <h4> Leerkracht </h4>
                        <ul class="list">
                            <li>Makkelijk te gebruiken.</li>
                            <li>Zelf jouw prijs bepalen</li>
                            <li> Word bereikbaar door studenten die nood hebben aan jou.</li> </ul>

                    </div>
                </div>
            </div>



        </div>


    </div>


</div>

<div id="introPage2">
    <div id="backgroundElement">

        <video  id=backgroundVideo preload="auto" autoplay="true" loop="loop" muted="muted">
            <source src="../img/backgroundvideo.mp4" type="video/mp4">
            Kan video niet afspelen
        </video>
    </div>
    <div id="introQuotes">

        <h1> Word nu lid </h1>


        <blockquote id="quote1">
            <p>  &ldquo; I stole a great idea but had no idea how to start
                working on this idea. <br>
                I was desperately looking for a good platform where I could <br>find
                a teacher who had a lot experience building websites.&rdquo;
                <br> - Mark Zuckerberg</p>

            <br>

        </blockquote>

        <blockquote id="quote2">
            <p> &ldquo;I previously failed every biology exam. <br>
                Later on I heard from my friend about a platform where you could <br>learn
                anything from teachers at a democratic price.&rdquo;
                <br> - Melina Gomez</p>
            <br>
        </blockquote>



        <blockquote id="quote3">
            <p>  &ldquo; Looking for a cheap and reliable platform
                to study for that next big upcoming test?<br>You're at the right place!&rdquo;
                <br> - Steven Jobez</p>
        </blockquote>



    </div>
</div>



</div>


<footer>
    <% include partials/footer %>
</footer>
</body>
</html>
