<!-- views/login.ejs -->
<!doctype html>
<html>
<head>
    <% include partials/head %>
    <style>
        body        { padding-top:80px; }
    </style>
</head>
<body>
<div class="container">

<div class="col-sm-6 col-sm-offset-3">

    <h1><span class="fa fa-sign-in"></span> Login</h1>

    <!-- show any messages that come back with authentication -->
    <% if (message.length > 0) { %>
        <div class="alert alert-danger"><%= message %></div>
    <% } %>

    <!-- LOGIN FORM -->
    <form action="/login" method="post">
        <div class="form-group">
            <label>Login</label>
            <input type="text" class="form-control" name="email">
        </div>
        <div class="form-group">
            <label>Wachtwoord</label>
            <input type="password" class="form-control" name="password">
        </div>

        <button type="submit" class="btn btn-warning btn-lg">Aanmelden</button>
    </form>

    <hr>

    <p>Nog geen account? <a href="/signup">Registreren</a></p>
    <p>Of registreer je gewoon op <a href="/">home</a>.</p>

</div>

</div>
<footer><% include partials/footer %></footer>
</body>
</html>
