<!-- views/results -->
<!DOCTYPE html>

<head>
    <% include partials/head %>
    <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
    <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.42.2/mapbox-gl.js'></script>
    <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.42.2/mapbox-gl.css' rel='stylesheet' />
    <style>
        body { margin:0; padding:0; }
        #map { position:relative; top:0; bottom:0; width:100%; height:60%;}
    </style>
</head>

<body>


<% include partials/navbar %>

<% include partials/resultmap %>

<script src="../js/location.js"></script>
<script> console.log(getGeoLocation()) </script>


<footer>
    <% include partials/footer %>
</footer>

</body>

</html>
