<!DOCTYPE html>
<html>
<head>

    <title><%= title %> </title>
    <meta name="theme-color" content="ffb900ff">
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link rel="stylesheet" href="../../css/style.css">
    <link rel="stylesheet" href="../../css/semantic.min.css">
    <link rel="stylesheet" href ="../../css/font-awesome.css">
    <script src="../../js/jquery.min.js"> </script>
    <script src="../../js/semantic.min.js"> </script>


</head>
<body>
<% include partials/navbar %>

<script>
    $(document)
        .ready(function(){
            $('.ui.dropdown')
                .dropdown()
            ;
            $('.ui.rating')
                .rating({
                    initialRating: 0,
                    maxRating: 5
                });
        });





</script>
</head>

<section id="banner">
    <h1> Schrijf een review voor  <%= teacher %> </h1>
</section>
<div class="ui segment" align="center">
    <form action="/reviews/teacher/<%= username %>" method="post" class="ui form">

        <div type="text">
            <div class="ui selection dropdown">
                <input type="hidden" name="score">
                <i class="dropdown icon"></i>
                <div class="default text">Score</div>
                <div class="menu">
                    <div class="item">0</div>
                    <div class="item">1</div>
                    <div class="item">2</div>
                    <div class="item">3</div>
                    <div class="item">4</div>
                    <div class="item">5</div>
                </div>
            </div>
            <br>

            <div>
            <input name="review">
            </div>
        </div>
        <input type="submit">
    </form>


<footer>
    <% include partials/footer %>
</footer>
</body>
</html>