<!DOCTYPE html>

<head>
    <% include partials/head %>
    <script>

      $( document ).ready (function(){


    $('.ui.dropdown').dropdown();
    $('.ui.rating')
  .rating({
    initialRating: 3,
    maxRating: 5
  });


      });


    </script>

 

</head>


<body>

<% include partials/navbar %>

  
  <%include partials/profile %>
<button class="ui inverted blue button" id="adaptProfileButton" >Profiel aanpassen</button>

</body>

  <footer>
      <% include partials/footer %>
  </footer>
  </body>
  </html>

  

