<!DOCTYPE html>

<head>
    <% include partials/head %>

  <script>

      $( document ).ready (function(){

          $('.ui.dropdown').dropdown();

      });

  </script>

</head>



<body>

<% include partials/navbar %>
<div id="settingsPage1">

  <div class="ui attached message">
    <div class="header">
      Instellingen
    </div>
  </div>

  <form action= "/api/insertToDB" method="post" class="ui form attached fluid segment">
    <div class="two fields">
      <div class="field">
        <label>Voornaam</label>
        <input placeholder="Voornaam" type="text" name="firstname">
      </div>
      <div class="field">
        <label>Achternaam</label>
        <input placeholder="Achternaam" name="secondname" type="text">
      </div>
    </div>
    <div class="two fields">
      <div class="field">
        <label>Straat</label>
        <input placeholder="Straat" name="street" type="text">
      </div>
      <div class="field">
        <label>Nummer</label>
        <input placeholder="Huisnummer" name="number" type="text">
      </div>
      <div class="field">
        <label>Postcode</label>
        <input placeholder="Postcode" name="zipcode" type="text">
      </div>
      <div class="field">
        <label>Stad</label>
        <input placeholder="Stad" name="city" type="text">
      </div>
    </div>

    <div class="two fields">
      <div class="field">
        <label>Onderwijsniveau</label>
        <input placeholder="Onderwijsniveau" name="target" type="text">
      </div>
      <div class="field">
        <label>Vakken</label>
        <div id="addCourses">


          <!--</div>-->
          <div class="ui form">
            <div class="field">
              <select name="topic" class="ui search dropdown">
                <option value="">Selecteer een vak</option>
                <option value="math">Wiskunde</option>
                <option value="chemistry">Chemie</option>
                <option value="latin">Latijn</option>
                <option value="french">Frans</option>
              </select>
            </div>
          </div>

          <script>

              var content = [];
              var courses = [];
              var courseTitles = []

              var xmlhttp = new XMLHttpRequest();
              xmlhttp.open("GET", 'http://localhost:8080/api/courses', true);
              xmlhttp.send();
              xmlhttp.onreadystatechange = function() {
                  if (this.readyState == 4 && this.status == 200) {
                      content = JSON.parse(this.responseText);
                      content.forEach(function (entry) {
                          courses.push(entry.title)
                      });
                      $.each(courses, function(i, el){
                          if($.inArray(el, courseTitles) === -1) courseTitles.push(el);
                      })
                  };
              };

          </script>


        </div>
      </div>
    </div>


    <div class="ui form">
      <div class="field">
        <label>Mijn omschrijving</label>
        <textarea></textarea>
      </div>

      <button class="ui blue submit button" type="submit">Opslaan</button>
    </div>
  </form>
</div>


<br>


<br>



</div>



<footer>
    <% include partials/footer %>
</footer>
</body>
</html>

