<!-- views/signup.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
    <% include partials/head %>
    <script>

        $( document ).ready (function(){

            $('.menu .item').tab();

        });
    </script>
</head>
<body>
<div class="containerLoginSign">
    <% include partials/navbar_register.ejs %>
    <div id="loginSignBox">
        <div class="ui raised segment" >
            <div class="ui top attached tabular menu">
                <% if (signup == 1) { %>
                <a class="item active" data-tab="first">Sign Up</a>
                <a class="item" data-tab="second">Login</a>
                <% } else{ %>
                <a class="item" data-tab="first">Sign Up</a>
                <a class="item active" data-tab="second">Login</a>
                <% } %>
            </div>
            <!-- FIRST TAB -->
            <% if (signup == 1) { %>
            <div class="ui bottom attached tab segment active" data-tab="first">
                <% } else{ %>
                <div class="ui bottom attached tab segment" data-tab="first">
                    <% } %>

                    <!-- Registration form/canvas -->

                    <div class="scrolling content">

                        <form action="/register" method="post" class="ui tiny form">
                            <div class="field">
                                <label>Gebruikersnaam</label>
                                <input type="text" name="email" placeholder="Login ID">
                            </div>
                            <div class="field">
                                <label>Wachtwoord</label>
                                <input type="password" name="password" placeholder="">
                            </div>
                            
                            <% if (message.length > 0) { %>
                            

                            <div class="alert alert-danger">
                                <%= message %></div>
                                <br>
                            <% } %>

                            <div class="ui form ">
                                <div class="inline fields">

                                    <div class="ui toggle checkbox" id="teacherChecked">
                                        <input name="teacher" type="checkbox">
                                        <label>Ik ben een leerkracht</label>
                                    </div>
                                </div>

                                <!--</div>-->
                            </div>
                            <div class="ui form">
                                <br>
                                <br>
                                <button class="ui green button" type="submit">Registreren</button>
                            </div>
                        </form>
                    </div>
                </div>

                <!-- SECOND TAB -->
                <% if (signup == 1) { %>
                <div class="ui bottom attached tab segment " data-tab="second">
                    <% } else{ %>
                    <div class="ui bottom attached tab segment active" data-tab="second">
                        <% } %>

                        <!-- Login canvas -->

                        <div class="scrolling content">


                            <form action="/login" method="post" class="ui form">
                                <div class="field">
                                    <label>Gebruikersnaam</label>
                                    <input type="text" name="email" placeholder="Login ID">
                                </div>

                                <div class="field">
                                    <label>Wachtwoord</label>
                                    <input type="password" name="password" placeholder="">
                                </div>
                                <% if (message.length > 0) { %>
                                <div class="alert alert-danger"><%= message %>
                                    
                                </div>
                                <br>
                                <% } %>
                                <button class="ui button" type="submit">Login</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <footer>
                <% include partials/footer %>
            </footer>
        </div>
    </div>
</div>

</body>
</html>
