<!DOCTYPE html>

<head>
    <% include partials/head %>

      $( document ).ready (function(){


    $('.ui.dropdown').dropdown();
     });


    </script>
    <% include partials/head %>
</head>

<body>

<% include partials/navbar %>

  <footer>
    <% include partials/footer %>
  </footer>

</body>

<div id="profilePage1">
    <br>
    <i class="massive user circle outline"></i>
<br>
    <div id="profileCards" class="ui cards">

      <div id= "profileCard" class="card">
        <div class="content">

          <div class="header">Profielnaam</div>
          
      </div>
        
        <div class="ui huge star rating"></div>
        <div class="content">

          <div class="header">Beschrijving</div>

          <div class="meta">Over mij</div>
          <div class="description">
            Mijn beschrijving
          </div>
        </div>
      </div>

       <div  id="contactCard" class="card">
        <div class="content">
          <div class="header">Contact</div>
          <div class="description">
            vakken
          </div>
        </div>
      </div>

      <div  id="coursesCard" class="card">
        <div class="content">
          <div class="header">Mijn vakken</div>
          <div class="description">
            vakken
          </div>
        </div>
      </div>
      <div id= "reviewCard" class="card">
        <div class="content">
          <div class="header">Reviews</div>
          <div class="description">


          </div>
        </div>
      </div>

      
    </div>

    <br>



</div>

</body>

</html>