<!DOCTYPE html>

<head>
    <% include partials/head %>
    <script>

      $( document ).ready (function(){


    $('.ui.dropdown').dropdown();
    $('.ui.rating')
        .rating({
            maxRating: 5,
            initialRating: <%= score %>

        })
        .rating('disable')
      });


    </script>

 

</head>



<body>


  <%include partials/profile %>


</body>

  <footer>
      <% include partials/head %>
  </footer>
  </body>
  </html>
