<!DOCTYPE html>

<head>

    <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
    <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.41.0/mapbox-gl.js'></script>
    <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.41.0/mapbox-gl.css' rel='stylesheet' />
    <script src="/config/Teachers.ejs"> </script>
    <% include partials/head %>

    <script>


    </script>



<body>

    <div id="locationBox" class="ui tiny modal">
    <div class="header">Locatie</div>
    <div class="scrolling content">

        <div  class="ui form">
            <div class="field">
                <label>Postcode</label>
                <input type="text" name="zipcode" id="zipcode" placeholder="Postcode">
            </div>
            <br>

            <button id="searchButtonMap" type="button" class="ui button"  onclick="zipToCoordinates(document.getElementById('zipcode').value)">Zoeken</button>
        </div>
    </div>
    </div>
</div>



<% include partials/navbar %>
<script>
    var locationBox = document.getElementById('locationBox');
    var counter = 0;
    var long = 4.367722; // Hardcoded the location of Brussels if all else fails
    var lat = 50.84056;


    function zipToCoordinates(zipcode) {
        console.log(zipcode)
        const request = "https://api.mapbox.com/geocoding/v5/mapbox.places/" + zipcode + "%20Belgium.json?access_token=pk.eyJ1IjoiYWxleGthaG4iLCJhIjoiY2o4bHFzZnMzMHF1NTMycWhnNnBwb2FwNyJ9.oa8bI4FKTEwWNgJSWMGvDA"
        // data is the geocoding result as parsed JSON
        // res is the http response, including: status, headers and entity properties
        var xmlhttp = new XMLHttpRequest();
        xmlhttp.open("GET", request, true);
        xmlhttp.send();
        xmlhttp.onreadystatechange = function () {
            if (this.readyState == 4 && this.status == 200) {
                content = JSON.parse(this.responseText);
                console.log(content)
                coords = {
                    longitude:content.features[0].geometry.coordinates[0],
                    latitude:content.features[0].geometry.coordinates[1]
                };
                position = {
                    coords: coords
                }
                console.log(coords);
                initMap(position);
            }
        }
    }

    $( document ).ready (function(){


            $('.ui.dropdown').dropdown();
            $('#upBar').click(function(){
                    $("html, body").animate({ scrollTop: 0 }, 500);




                });


    



// All courses for local search



            var content = [];


            var xmlhttp = new XMLHttpRequest();
            xmlhttp.open("GET", 'http://localhost:8080/api/courses', true);
            xmlhttp.send();
            xmlhttp.onreadystatechange = function() {
                if(this.readyState == 4 && this.status == 200){
                    content= JSON.parse(this.responseText);
                    console.log(content);

                    $('.ui.search')
                        .search({
                            source : content,
                            searchFields   : [
                                'title'
                            ],
                            searchFullText: false,
                            onSelect: function(result,response){
                                drawTeachersOnMap(long, lat, (response[0].en));
                                console.log("Drew teacher on map");
                                $("html, body").animate({ scrollTop: 2000 }, 2000);
                            }

                        });
                };
            }
        }
    )
    // When a click event occurs on a feature in the places layer, open a popup at the
    // location of the feature, with description HTML from its properties.




    function initMap(position) {
        console.log(position)
        long = position.coords.longitude;
        lat = position.coords.latitude;
        map.flyTo({
            center: [
                long,
                lat]
        });
    }


    function init(e) {
        console.log(e)
        <% if(course){ %>
        drawTeachersOnMap(long, lat,"<%=course%>");
        <% } %>
    }
    window.onload = init;





    var options = {
        enableHighAccuracy: true,
        timeout: 5000,
        maximumAge: 0
    };



    function noLocation() {
        
                
        $('#locationBox').modal('setting', 'closable', false)
        $('#locationBox').modal('attach events','#searchButtonMap', 'hide');
        $('#locationBox').modal('show');

    }

    function getLocation() {
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(initMap, noLocation, options);
        } else {
            console.log("Geolocation is not supported by this browser.");
        }
    }
    getLocation();

    function searchTopic(topic){
        var long = locationObj.longitude;
        var lat = locationObj.latitude;

        var xmlhttp = new XMLHttpRequest();
        xmlhttp.open("GET", 'http://localhost:8080/api/long/' + long + '/lat/' + lat + '/topic/' + topic, true);
        xmlhttp.send();
        xmlhttp.onreadystatechange = function() {
            if(this.readyState == 4 && this.status == 200){
                var parsedJSON = JSON.parse(this.responseText);
            };
        };
    }



</script>


<div id="page1">

    <br>

    <div id="searchCourses" class="ui fluid category search dropdown">
        <div class="ui icon input">
            <input class="prompt" type="text" id="courseInput"  placeholder="Zoek cursussen....">
            <i class="big search icon" ></i>
        </div>
        <div id="resultsSearch" class="results"></div>
    </div>



    <br>

</div>


</div>

 <div id="upBar">
  <i id= "upIcon" class="big chevron up icon">   </i> 
</div>

   
<a id="map">  
</a>






<script>
    mapboxgl.accessToken = 'pk.eyJ1IjoiYWxleGthaG4iLCJhIjoiY2o4bHFzZnMzMHF1NTMycWhnNnBwb2FwNyJ9.oa8bI4FKTEwWNgJSWMGvDA';
    var map = new mapboxgl.Map({
        container: 'map',
        style: 'mapbox://styles/mapbox/light-v9',
        center: [long, lat], // Start with the coordinates of the location
        zoom: 12
    });

    var featureArray = [];

    function filter(item){
        var xmlhttp = new XMLHttpRequest();
        xmlhttp.open("GET", 'http://localhost:8080/api/score/teacher/' + item.username , true);
        xmlhttp.send();
        xmlhttp.onreadystatechange = function() {
            if (this.readyState == 4 && this.status == 200) {
                var parsedJSON = JSON.parse(this.responseText);
                if (parsedJSON[0] >= 0) {
                }
            }
        }
        var description = "<strong>" + item.firstname + " " + item.secondname + "</strong>" + "<p>"
            + item.address.street + " " + item.address.number + "<p>"
            + "My page".link("http://localhost:8080/teacherprofile/username/" + item.username)  + "<p>"
        featureArray.push({
                "type": "Feature",
                "geometry": {
                    "type": "Point",
                    "coordinates": item.location.coordinates
                },
                "properties": {
                    "title": item.firstname + " " + item.secondname,
                    "description": description,
                    "icon": "college"
                }
            }
        );
    }



    // Longitude and latitude should be the client location
    function drawTeachersOnMap(longitude, latitude, topic) {
        var xmlhttp = new XMLHttpRequest();
        xmlhttp.open("GET", 'http://localhost:8080/api/long/' + longitude + '/lat/' + latitude + '/topic/' + topic , true);
        xmlhttp.send();
        xmlhttp.onreadystatechange = function() {
            if (this.readyState == 4 && this.status == 200) {
                var parsedJSON = JSON.parse(this.responseText);

                featureArray = [];

                // Functie om te centreren op API-location (indien niets, momenteel zo laten)
                // addLayer, met de correct ingeladen gegevens
                parsedJSON.forEach(filter);

                if (counter !== 0) {
                    // map.removeLayer(counter.toString())
                    map.removeLayer('places')
                }

                counter++;


                map.addLayer({
                    "id": 'places',
                    "type": "symbol",
                    "source": {
                        "type": "geojson",
                        "data": {
                            "type": "FeatureCollection",
                            "features": featureArray
                        }
                    },
                    "layout": {
                        "icon-image": "{icon}-15",
                        "text-field": "{title}",
                        "text-font": ["Open Sans Semibold", "Arial Unicode MS Bold"],
                        "text-offset": [0, 0.6],
                        "text-anchor": "top",
                        "icon-allow-overlap": true
                    }
                });

            }

        };
    }
    map.on('click', 'places', function (e) {
        console.log(counter);
        new mapboxgl.Popup()
            .setLngLat(e.features[0].geometry.coordinates)
            .setHTML(e.features[0].properties.description)
            .addTo(map);
    });

    // Change the cursor to a pointer when the mouse is over the places layer.
    map.on('mouseenter', 'places', function () {
        map.getCanvas().style.cursor = 'pointer';
    });

    // Change it back to a pointer when it leaves.
    map.on('mouseleave', 'places', function () {
        map.getCanvas().style.cursor = '';
    });


</script>


<footer>
    <% include partials/footer %>
</footer>
</body>
</html>



