/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*------------------------------------ Self written code ------------------ */
body{
	font-family: 'Open Sans', sans-serif;
}

#banner{
	height:25em;
	background:url('../img/shwcase.jpg');
	width:100%;
	background-size:cover;
	text-align:center;
	position:relative;
}

#banner h1{
	color: white;
    top: 1.5em;
    position: absolute;
    text-align: center;
    display: block;
    font-size: 4em;
    text-shadow: 1px 1px 2px rgb(95, 94, 94);
    width: 100%;
}

#banner .button{
	top: 8.5em;
	position:relative;
}

#banner .ui.search{
	top: 15em;
	text-align:center;
}

a.navbar {
	text-decoration: none;
	color: black;
	font-family: Gotham;
	background-color:#405f7d;


}
a.logo {
    height: auto;
	display: inline-block;
    background-repeat: no-repeat;
    background-image: url(../img/TEACHR_navbar_logo.svg);
    height: 24px;
    width: 184px;
	margin:0.7em;
    background-size: cover;
}



/* Navigation */
ul.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #405f7d;
    width: 100%;
}
ul.navbar .contactUrl{
	float:right;
	color:white;
	font-size:1.5em;
	padding:0.7em;
	text-decoration: none;
}

ul.navbar .button{
	margin-top: 0.1em;
	float:right;}

ul.navbar .dropdown{
	float:right;
	margin-top: 0.6em;
	margin-right: 0.8em;
	color: white;
}
ul i.icon{
	font-size:1.5em;
}

p.contact {
	font-size: 50px;
	font-family: Gotham;
	color: white;
	align: right;
}



/* Not yet logged in */

#introPage1 {
	height: calc(100% - 47.59px);
	width:100vw;
	margin:0px;
	padding:0px;
	overflow-x: hidden;
	background-image: url("../img/background4.jpg");
	background-size:cover;
	background-attachment: fixed;
  	background-position: center;
 	background-repeat: no-repeat;


}

#introQuotes{
	position:absolute;
	width:100%;
	min-height: 100%;
	z-index:1000;
	font-size: 25px;
	text-align:center;

}

video{
	position: absolute;
	width:100vw;
	top:100vh;
	height: 100vh;
	object-fit: cover;


}





#introQuotes h1{
	text-align:center;
	font-size:65px;
	text-transform:uppercase;

}



/*After logged in */
#page1{
	height:100vh;
	width:100%;
	background-image: url("../img/background1.jpg");
	background-size:cover;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
}

#page1 .ui.fluid.search{
	top:40vh;
	text-align:center;
}
#page1 .ui.icon.input{
	width:50vw;
	height:10vh;
	font-size:20px;
}

.results{
	overflow:hidden;
	oveflow-y:scroll;
}
#upBar{
	height:5em;
	background-color: black;
	color:white;
	text-align:center;
	

}
#upBar #upIcon{
	margin-top:0.5em;
}


#locationBox .header{
	background-color: #405f7d;
	color:white;
}

#map{
	position: absolute;
	height: calc(100% -  5em) ;
	width:100vw;
	float:left;


}



.mapboxgl-popup {
            font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;


        }



#myCourses h2{
	font-size: 20px;
}

/*Use a media query to add a break point at 800px:*/
@media (max-width:850px) {
  img.logo {
    width: 5%;/*The width is 100%, when the viewport is 800px or smaller*/
  }
}

#container #introText{
	text-align:center;
}

#container #introText h3{
	font-size:28px;
}

#container #introText p{
	font-size: 23px;}


#container #whyBlock{
	text-align:center
}

#container #whyBlock h3{
	font-size:28px
}


/* TeacherProfile */

#profilePage1 {
	text-align: center;
	
}
#profileCards {
	position:fixed;
	left:40%;
	display:block;
	
	
}

#profileCards #reviewCard{
	overflow:scroll;
	height:100px;

}

#profileCards #coursesCard{
	overflow:scroll;
	height:100px;
}




#profilePage1{
	height:100vh;
	width:100%;
	background-image: url("../img/background4.jpg");
	background-size:cover;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
}

#settingsPage1{
	height:95vh;
	width:100%;
	background-image: url("../img/background4.jpg");
	background-size:cover;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
}

/* Signup  page */

#loginSignBox{
	width:35vw;
	height:25vh;
	margin-left:auto;
	margin-right:auto;
	margin-top:15vh;

	

}

.alert.alert-danger{
	color:red;
	font-size: 15px;
}
/* Settings */




footer{
	/*min-height: calc(100% - 72px); */
	padding:10px;
	color: white;
	background-color: black;
	text-align:center;
	bottom:0;
	right:0;
	left:0;
	width:100%;
	position:fixed;
	display:block;
}
